<a href="#" class="d-block margin-component text-decoration-none">
    <div class="bakalari-panel">
        <span class="bakalari-icon"></span>

        <h3 class="mt-0">Bakaláři</h3>

        <p class="small">Známky, omluvenky a komunikace s učiteli na jednom místě</p>

        <span class="btn-sign-in">Přihlásit se</span>
    </div>
</a>
