<div class="actuality-filter-panel my-5">
    <h3 class="mb-3">Filtr tagů</h3>

    {% for tag in this.getItems() %}
        <a href="{{ path('aktuality_tag_filter', {'tag': tag.slug}) }}" class="custom-badge me-1 mt-1">
            {{ tag.Tag }}
        </a>
    {% endfor %}
</div>
