<div class="row gx-3 my-5">
    {% for obrazek in data.Obrazek %}
        <div class="col {% if data.Obrazek|length > 1 %}d-flex justify-content-center align-items-center{% endif %}">
            {% if obrazek.Odkaz %}
                <twig:Odkaz data="{{ obrazek.Odkaz }}">
                    <img class="img-fluid" src="{{ obrazek.Obrazek.url }}">
                </twig:Odkaz>
            {% else %}
                <img class="img-fluid" src="{{ obrazek.Obrazek.url }}">
            {% endif %}
        </div>
    {% endfor %}
</div>
