<div class="d-flex flex-wrap gap-3 gap-lg-4 margin-component align-items-stretch justify-content-start">
    {% for dlazdice in data.Dlazdice %}
        <twig:Odkaz data="{{ dlazdice.Odkaz }}" class="column-dlazdice align-items-center justify-content-center flex-wrap text-center">
            {% if dlazdice.Ikona %}
                <div>
                    <img src="{{ dlazdice.Ikona.url }}" class="img-fluid mx-auto">
                </div>
            {% endif %}
            {# <span class="divider"></span> #}
            {{ dlazdice.Nadpis_dlazdice }}
        </twig:Odkaz>
    {% endfor %}
</div>
