<div class="margin-component">
    <div class="row">
        {% for soubor in data.Soubor %}
            <div class="{{ data.Pocet_sloupcu == 2 ? 'col-sm-6' : 'col-sm-12' }}">
                <a href="{{ soubor.Soubor.url }}" class="text-decoration-none mt-2" target="_blank">
                    <i class="bi-file-earmark-image fs-4"></i>
                    <strong>{{ soubor.Nadpis }}</strong>
                    <small class="ms-2">({{ soubor.Soubor.size }}kb)</small>
                    <i class="bi-download"></i>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
