<div class="margin-component">
    <div class="row">
        {% for soubor in data.Soubor %}
            <div class="{{ data.Pocet_sloupcu == 2 ? 'col-sm-6' : 'col-sm-12' }}">
                <a href="{{ soubor.Soubor.url }}" class="text-decoration-none mt-3 d-flex gap-3" target="_blank">
                    <i class="bi-file-earmark-image fs-4"></i>
                    <div class="d-flex flex-column">
                        <strong>{{ soubor.Nadpis }}</strong>
                        <div>
                            <small class="me-2">{{ soubor.Soubor.size }}kb</small>
                            <i class="bi-download"></i>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
