<div class="row gx-5 my-3">
    {% for termin in data.Terminy %}
        <div class="col-lg-6">
            <div class="d-flex w-100 my-4 align-items-start">
                {% if termin.Termin %}
                    <time class="event-date me-3">
                        <span class="fw-bold">{{ termin.Termin|date('d') }}</span><br>
                        {{ termin.Termin|format_date(locale='cs', pattern='LLL') }}
                    </time>
                {% endif %}
                <div class="flex-fill">
                    {% if termin.Termin %}
                        <time class="event-time">{{ termin.Termin|date('H:i') }}</time>
                    {% endif %}

                    <div class="d-sm-flex align-items-start justify-content-between">
                        <div class="mb-2 mb-sm-0">
                            {% if termin.Nazev %}
                                <span class="event-name h3 fw-bold">{{ termin.Nazev }}</span>
                            {% endif %}
                        </div>
                        <div class="flex-shrink-1 text-end">
                            {# TODO #}
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    {% endfor %}
</div>
