/* === Gogh Typeface === */
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-Hairline.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-HairlineItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-ThinItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-BookItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-HeavyItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gogh';
  src: url('/fonts/Gogh-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Make Gogh the default sans-serif font */
:root {
}

body {
    --bs-font-sans-serif: 'Gogh', sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-primary: #005E56;
    --bs-primary-rgb: 0,94,86;
    --bs-secondary: #A2C62C;
    --bs-secondary-rgb: 162,198,44;
    --bs-secondary-color-rgb: 244,152,51;
    --bs-heading-color: var(--bs-primary);
    --bs-link-color-rgb: var(--bs-primary);
    --bs-breadcrumb-font-size: 12px;
    --bs-link-hover-color: var(--bs-primary);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    background-color: #EDEDED;
    padding-top: 56px; /* adjust to header size */
}


footer {
    background-color: #005E56;
    color: #fff;
    background-repeat: no-repeat;
    background-image:
        url('../images/footer-1.png'),
        url('../images/footer-2.png'),
        url('../images/footer-3.png'),
        url('../images/footer-4.png');
    background-position:
        left bottom,
        20% bottom,
        65% calc(100% - 10px),
        right 40px;
    padding-bottom: 150px;
}

footer a {
    color: #fff;
}

footer h5 {
    background: var(--bs-secondary);
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
    font-size: 16px;
}

.bakalari-header-link {
    display: inline-flex;
    align-items: center;
    line-height: 18px;
}

.bakalari-header-link .link {
    background: var(--bs-secondary);
    color: #fff;
    padding: 5px 25px 5px 15px;
    border-radius: 15px;
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
}

.bakalari-header-link i {
    font-size: 18px;
    padding-right: 5px;
}

.bakalari-header-link .bakalari-img {
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../images/bakalari.png') center center no-repeat;
    background-size: contain;
}

.content-wrapper {
    background-repeat: no-repeat;
    background-image:
        url('../images/body-3.png'),
        url('../images/body-1.png'),
        url('../images/body-2.png');
    background-position:
        calc(100% - 30px) 75%,
        right -130px,
        left 30%;
}

h1 {
    border-left: 6px solid var(--bs-secondary);
    padding-left: 14px;
    line-height: 100%;
    font-weight: 900 !important;
}

.with-border {
    border-left: 6px solid var(--bs-secondary);
    padding-left: 14px;
}

.section-content-wrapper,
.actuality-panel,
.bakalari-panel,
.actuality-filter-panel {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
}

.navbar-toggler-icon {
    background: url('../images/menu.svg') center center no-repeat;
    background-size: contain;
}

.navbar-nav a {
    color: var(--bs-primary);
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

/* Components */


.custom-badge {
    text-decoration: none;
    background: var(--bs-secondary);
    color: #fff;
    padding: 2px 10px;
    display: inline-block;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
}

.custom-badge:hover {
    background: var(--bs-primary);
    transition: all .4s ease;
}

.custom-badge.custom-badge-secondary {
    background: var(--bs-primary-text-emphasis);
}

.custom-badge.active_tag {
    background: var(--bs-primary);
}

.article-icon {
    background: url('../images/icon-house.svg') center center no-repeat var(--bs-primary-text-emphasis);
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    flex: 0 0 80px;
}

hr.hr {
    border-color: #CBCBCB;
    opacity: 1;
}

.hr-normal {
    border-width: 1px !important;
}

.hr-dotted {
    border-style: dashed !important;
}

.button-style-1 a, .button-style-1 {
    text-decoration: none;
    background: #17375F;
    padding: 9px 27px;
    color: #fff;
    border: 0;
    border-radius: 4px;
}

.button-style-2 a {
    color: var(--bs-secondary);
}

.column-dlazdice {
    width: 224px;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--bs-primary);
    border: 1px solid #999999;
    transition: all 0.3s;
}

.column-dlazdice .img-fluid {
    max-width: 60%;
}

a.column-dlazdice:hover {
    background: #efefef;
}

.column-dlazdice .divider {
    display: block;
    margin: 10px auto;
    width: 30px;
    height: 4px;
    background: var(--bs-secondary);
}

.form-label {
    color: var(--bs-primary);
    font-weight: bold;
}

.form-label.required::after {
    content: " *";
    color: var(--bs-danger);
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
    border: none !important;
    border-bottom: 2px solid var(--bs-primary) !important;
    border-radius: 0 !important;
    outline: none !important;
}

input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus,
textarea:focus {
    border-bottom-color: var(--bs-secondary) !important;
    box-shadow: none !important;
    outline: none !important;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
    padding: 0.375rem !important;
}

input:not([type="checkbox"]):not([type="radio"]):disabled,
select:disabled,
textarea:disabled {
    border-bottom-style: dashed !important;
    background-color: #f8f9fa !important;
}

input:not([type="checkbox"]):not([type="radio"]):hover,
select:hover,
textarea:hover {
    border-bottom-color: #6c757d !important;
}

.placeholder-icon-person {
    width: 95px;
    height: 95px;
    display: block;
    background-size: contain;
}

.placeholder-icon-person.male {
    background: url('../images/icon-male-placeholder.svg') center center no-repeat;
}

.placeholder-icon-person.female {
    background: url('../images/icon-female-placeholder.svg') center center no-repeat;
}

.section-content h2, .section-content h3, .section-content h4 {
    font-weight: 900 !important;
}

.section-content h5, .section-content h6 {
    font-weight: 700 !important;
}


.column-karta {
    width: 306px;
    border: 2.5px solid var(--bs-primary);
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--bs-primary);
}

.event-date {
    text-decoration: none;
    background: var(--bs-secondary);
    color: #fff;
    padding: 10px 12px;
    border-radius: 10px;
    display: inline-block;
    border: 0;
    text-align: center;
    font-size: 20px;
    line-height: 110%;
}

.event-date span {
    font-size: 26px;
}

.event-live-stream {
    border-radius: 4px;
    background: var(--bs-primary);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
}

.event-replay {
    background: #fff;
    color: #ea3323;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
}

.event-time {
    color: var(--bs-primary-text-emphasis);
    font-weight: bold;
}

.cinema-date, .cinema-entry-fee {
    color: var(--bs-primary-text-emphasis);
    font-size: 18px;
}

.cinema-separator {
    height: 13px;
    background: var(--bs-secondary);
    width: 2px;
    display: inline-block;
    margin: 0 5px;
}

.card-phone-name {
    font-weight: bold;
}

.card-doctor {
    border: 2px solid var(--bs-primary);
    padding: 15px;
    border-radius: 4px;
}

p img {
    max-width: 100%;
}

.custom-badge-btn-full {
    width: 100% !important;
    border-radius: 4px !important;
    padding: 6px 10px !important;
}

.img-wrapper {
    max-width: 100%;
}

.collapse-toggle .bi-chevron-down {
    transition: transform 0.2s ease;
}
.collapse-toggle:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.card-ribbon {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    position: absolute;
    left: 10px;
    top: 10px;
    background: var(--bs-primary-text-emphasis);
}

.card-icons {
    margin-bottom: -10px;
}

.card-icons img {
    height: 25px;
    width: auto;
    display: inline-block;
}

.card-icons img + img {
    margin-left: 5px;
}

.bakalari-panel {
    text-align: center;
}

.bakalari-panel .bakalari-icon {
    display: block;
    margin: 0 auto 20px;
    width: 120px;
    height: 120px;
    background: url('../images/bakalari.png') center center no-repeat;
    background-size: contain;
}

.btn-sign-in {
    text-decoration: none;
    background: var(--bs-secondary);
    color: #fff;
    padding: 6px 18px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    border: 0;
}

.alert-component {
    background: #17375F;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
}

.alert-component p:last-child {
    margin-bottom: 0;
}

.alert-component a {
    color: var(--bs-secondary);
    font-weight: bold;
}

.section-content p:last-child {
    margin-bottom: 0;
}

.alert-icon {
    display: inline-block;
    background: url('../images/alert-icon.svg') center center no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.faq-question {
    color: #17375F;
    padding: 5px 0 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #CBCBCB;
}

.faq-question i {
    margin-left: 10px;
    background: #4085C6;
    color: #fff;
    padding: 0 5px;
    border-radius: 4px;
}

.faq-question.collapsed i {
    background: #17375F !important;
}

.faq-component > .mb-4:last-child {
    margin-bottom: 0;
}

.organizace-skolniho-roku-title {
    background: var(--bs-secondary);
    color: #fff;
    padding: 3px 10px;
    font-weight: bold;
}

.organizace-skolniho-roku-text {
    padding-top: 3px;
    font-weight: 500;
}

.green-cell span {
    background: var(--bs-secondary);
    color: #fff;
    padding: 3px 10px;
    display: inline-block;
    font-weight: bold;
    white-space: nowrap
}

.historie-title {
    background: #17375F;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border-radius: 4px;
}

.historie-title i {
    margin-left: 10px;
}

.historie-title::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid var(--bs-secondary);
    border-radius: 50%;
    top: 10px;
    left: -45px;
    background: #fff;
}

.historie-component {
    border-left: 1px solid #999;
    margin-left: 10px;
    padding-left: 35px;
    padding-top: 22px;
    padding-bottom: 1px;
}

.section-content-wrapper > h2:first-child,
.section-content-wrapper > h3:first-child,
.section-content-wrapper > h4:first-child,
.section-content-wrapper > .my-5:first-child,
.section-content-wrapper > .margin-component:first-child,
.section-content-wrapper > .margin-heading:first-child,
.side-panel > h2:first-child,
.side-panel > h3:first-child,
.side-panel > h4:first-child,
.side-panel > .my-5:first-child,
.side-panel > .margin-component:first-child,
.side-panel > .margin-heading:first-child {
    margin-top: 0 !important;
}

.section-content-wrapper > .my-5:last-child,
.section-content-wrapper > .margin-component:last-child,
.side-panel > .my-5:last-child,
.side-panel > .margin-component:last-child,
.side-panel > .margin-heading:last-child {
    margin-bottom: 0 !important;
}

.section-content-wrapper > h2:last-child,
.section-content-wrapper > h3:last-child,
.section-content-wrapper > h4:last-child,
.section-content-wrapper > .my-5:last-child,
.side-panel > h2:last-child,
.side-panel > h3:last-child,
.side-panel > h4:last-child,
.side-panel > .my-5:last-child {
    margin-bottom: 0 !important;
}

.margin-component {
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

.margin-heading,
.section-content h2, .section-content h3, .section-content h4, .section-content h5, .section-content h6,
.side-panel h2, .side-panel h3, .side-panel h4, .side-panel h5, .side-panel h6
{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.actuality-filter-panel {
    h3 {
        margin-top: 0;
    }
}

.actuality-panel h3 {
    margin-top: 0;
}

.actuality-panel a {
    display: block;
}


.actuality-panel a + a {
    margin-top: 1.5rem;
}

ul > br {
    display: none;
}

a.glightbox {
    position: relative;
    display: inline-block;    /* make sure it wraps just the image */
    overflow: hidden;         /* clip the pseudo‐element to the link bounds */
}

a.glightbox img {
    display: block;           /* remove any inline‐img whitespace issues */
}

/* overlay + text */
a.glightbox::before {
    content: "Klikněte pro zvětšení";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(162, 198, 44, 0.6);
    color: white;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    z-index: 1;
}

/* hover state */
a.glightbox:hover::before {
    opacity: 1;
}


.column-tipy-na-vylet {
    flex: 1 1 calc((100% - 6rem) / 5);
    width: 100%;
}

.column-tipy-na-vylet img {
    max-height: 150px;
}

.column-karta-s-argumenty {
    flex: 1 1 calc((100% - 6rem) / 4);
    max-width: 250px;
}

.column-karta-s-argumenty img {
    max-height: 150px;
}

.carousel-item {
    height: 600px;
    background-color: #EDEDED;
}

.slide-title {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-left: 6px solid var(--bs-secondary);
    padding-left: 14px;
}

.slide-heading {
    font-weight: 900;
    color: var(--bs-primary);
    font-size: 50px;
    line-height: 65px;
}

.slide-text {

}

.slide-image {
    object-fit: cover;
    object-position: center;
}

.carousel-control-prev,
.carousel-control-next {
    background: #fff;
    color: #000;
    font-size: 36px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    top: 50%;
    margin-top: -30px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: #000;
}

.carousel-control-prev {
    left: 40px;
}

.carousel-control-next {
    right: 40px;
}

.column-homepage-karta {
    background: #fff;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.column-homepage-karta img {
    width: 90px;
    height: 90px;
    flex: 0 0 90px;
}

.homepage-karty {
    position: relative;
    z-index: 3;
}

.column-homepage-karta .card-content {
    min-width: 0; /* so long text will ellipsis or wrap properly */
}

.homepage-karty a {
    text-decoration: none;
}

.homepage-karty a:hover .column-homepage-karta {
    background: var(--bs-secondary);
}

.homepage-karty a:hover h4 {
    color: #fff;
}
